**/venv
**/__pycache__
*.pyc
/factories.txt
/geckodriver
/geckodriver*
/chromedriver
/chromedriver*
/firefox
/firefox*
!*.py
!**/boot
!**/bots
!**/cache
!**/command_processor
!**/commands
!**/components
!**/config
!**/factories
!**/messaging
!**/output
!**/parsers
!**/registration
!**/scrapers
!**/serializers
!**/threads
!**/url_generators
!**/url_republishers
